.admission{
    margin-top: 110px;
}
.admin-title, .sub-admin{
    margin-left: 30px;
}

.admission .admin-box .image-Container{
    width: 40%;
    float: left;
}
.admission .admin-box .second-admissions{
    width: 50%;
    float: right;
    margin-bottom: 30px;
}

.admin-container{
    display: flex;
}
.admission .admin-box .image-Container img{
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 10px 10px #0A85BB;
}
.admission .admin-box .image-Container img:hover{
    transform: rotate(1deg);
    
}
/*Mobile Screen*/
@media only screen and (max-width: 600px) {
    .admission{
        display: block;
        width: 90%;
    }
    .admission .admin-box .image-Container{
        width: 100%;
        
    }
    .admission .admin-box .second-admissions{
        width: 100%;
        margin-top: 30px;
        margin-right: -30px;
        
    }
    .admin-container{
        display: inline-block;
        text-align: justify;
    }
    .admission .admin-box .image-Container img{
        width: 80%;
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 12px;
        box-shadow: 10px 10px #0A85BB;
    }
}
@media only screen and (max-width: 768px) {
    .admission{
        display: block;
        width: 90%;
    }
    .admission .admin-box .image-Container{
        width: 100%;
        
    }
    .admission .admin-box .second-admissions{
        width: 100%;
        margin-top: 30px;
        margin-right: -30px;
        
    }
    .admin-container{
        display: inline-block;
        text-align: justify;
    }
    .admission .admin-box .image-Container img{
        width: 80%;
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 12px;
        box-shadow: 10px 10px #0A85BB;
    }
}
    @media only screen and (max-width: 900px) {
        .admission{
            display: block;
            width: 90%;
        }
        .admission .admin-box .image-Container{
            width: 100%;
            
        }
        .admission .admin-box .second-admissions{
            width: 100%;
            margin-top: 30px;
            margin-right: -30px;
            
        }
        .admin-container{
            display: inline-block;
            text-align: justify;
        }
        .admission .admin-box .image-Container img{
            width: 80%;
            margin-left: 30px;
            margin-top: 10px;
            border-radius: 12px;
            box-shadow: 10px 10px #0A85BB;
        }
}


